.footer {
  border-top: 1px solid #cccaca; 
  background-color: #4C0463;
  color: #202020; 
  padding: 30px 40px;
  margin-top: auto; 
  text-align: center; 
}

.footerNav {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.footerLink {
  text-decoration: none;
  color: #D44EC4;
  font-size: 14px;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #D44EC4; 
}

.copyright {
  font-size: 12px;
  color: #D44EC4;
  margin-top: 15px;
}